/* ---------------------------------GENERAL--------------------------------- */

body {
    font-family: "Montserrat";
}





/* ---------------------------------HEADER--------------------------------- */

header,
.nav_bar a {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.achivment_title img {
    width: 20px;
}

.btn {
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border-color: coral;
}

.btn:hover {
    background-color: coral;
}

.header_logo {
    height: 700px;
    position: absolute;
    top: -200px;
    left: -200px;
    z-index: -1;
}

/* mobile nav bar */

.mobileNavBar_block button {
    background-color: transparent;
    color: #151618;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    width: 50px;
    height: 100%;
}


.mobileNavBar_block {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(58, 58, 58);
    display: none;
}

@media screen and (max-width: 575px) {
    .navBar_block {
        display: none;
    }

    .mobileNavBar_block {
        display: flex;
        justify-content: space-between;
    }
}

/* background video */

.header_block {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.header_video {
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: inline-block;
    vertical-align: baseline;
    z-index: -10;
    filter: blur(5px);
    filter: brightness(25%);
}

/* Dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}

.dropdown-content a {

    padding: 0 5px;
    display: block;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Achivment */

.achivment_wrapper {
    border-left-style: solid;
    border-left-color: coral;
    border-left-width: 2px;
    margin: 3px;
}

.achivment_title {
    font-size: 15px;
}

main {
    width: 100%;
}

/* Support, help, expertixe */

.support {
    width: 90%;
    max-height: 1000px;
    padding-top: 100px;
    margin-bottom: 100px;
}

.element-support {
    width: 24%;
}

.help {
    width: 90%;
    position: relative;
}

.divSupport1 {
    width: 50%;
}

.support-services {
    width: 90%;
}

.help-services {
    width: 100%;
}

.image-support {
    margin-bottom: 30px;
}

.help-header {
    margin-bottom: 20px;
}

.element-line-support {
    height: 250px;
}


.divHelp1 {
    align-self: center;
}

.number {
    color: gray;
    margin-bottom: 8px;
}

.help-titles {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    width: auto;
}

.help-title {
    font-weight: bold;
}

.text-help {
    font-size: 13px;
    margin: 0;
    max-height: 100px;
}

.expertise {
    background-color: #394047;
    height: 100vh;
    width: auto;
    margin-top: -220px;
}

.element-line-support {
    max-height: 250px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-help {
    margin-bottom: 5px;
}

.element-help {
    background: #fff;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgb(5 12 51 / 5%);
    margin-left: -12px;
    margin-right: -12px;
    height: 100%;
    position: relative;
    padding: 25px 25px 45px;
    min-height: 292px;
}

.img-help {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.div1-expertise {
    max-width: 600px;
    max-height: 600px;
}

.div2-expertise {
    width: 65%;
    margin-top: 200px;
}

.wrapper-expertise {
    height: 100%;
}

.empty-div {
    height: 35%;
}

.div1-expertise img {
    width: 100%;
    height: auto;
    margin-top: 150px;
}



/* Support, help, expertixe  end*/


/* tariff */

.tariff_header {
    font-weight: bold;
    text-align: center;
}

.tariff_back {
    position: absolute;
    z-index: -100;
    right: 0;
    max-height: 600px;
    height: 100%;
    opacity: 50%;
}

.tariff_panel {
    max-width: 370px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    transition: transform .2s;
    background-color: #ffffff;
}

.tariff_panel ul {
    padding-left: 20px;
}

.tariff_panel li {
    margin-bottom: 10px;
}

.tariff_panel:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 60px rgb(162 162 162 / 25%);
    background-color: #ffffff;

}

.tariff_panel:hover .btn {
    background-color: coral;
}

.tariff_panel h3 {
    border-bottom-style: solid;
    border-color: rgb(53, 51, 50);
    border-width: 2px;

}

.tariff_panel .btn {
    color: black;
}

.tariff_content {
    padding: 30px 20px;
}

.tariff_dop {
    font-size: small;
}

.tariff_content_header {
    margin: 30px 0;
}

.tariff_wrapper {
    margin: 10px 0;
}

.tariff_block {
    background: url(img/D-background-opacity.svg) no-repeat right top, #fff;
    background-size: cover;
}

/* ourDev */

/* team */
.team_header {
    font-weight: bold;
    text-align: center;
}

.team_block h5 {
    font-weight: 1000;
}

.team_block .btn {
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border-color: gray;
}

.team_photo {
    height: auto;
    width: auto;
    max-width: 280px;
    display: block;
    margin-bottom: 10px;
}

.team_panel {
    padding: 0 45px;
    margin-bottom: 20px;
}