body {
    background: pink;
}


/* Слайдер */
.slick-slider {
    padding: 0 70px 70px;
    margin: 20px;
    max-width: 1536px;
    margin: auto;
}


/* Arrow */
.slick-arrow {
    position: absolute;

    z-index: 10;
    top: 35%;
    transform: translateY(-50%);

    width: 60px;
    height: 60px;

    border: none;
    background-color: none;
    padding: 0;

    font-size: 0;
}

.slick-arrow.slick-prev {
    background: url('../other/left_paw.png') 0 0 / 100%;
    left: 0;
}

.slick-arrow.slick-next {
    background: url('../other/right_paw.png') 0 0/100%;
    right: 0;
}



/* Dots */
.slick-dots {
    /* list-style: none;
    margin: 0;
    
    position: absolute;
    bottom: 0;*/
    /* left: 50%;
    transform: translateX(-50%);  */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slick-dots li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

.slick-dots li button {
    padding: 0;
    border: none;

    font-size: 0;

    background: url('../other/dot1.png') 0 0/100%;
    width: 40px;
    height: 40px;
}

.slick-dots li.used button {
    background: url('../other/dot_used.png') 0 0/100%;
    width: 40px;
    height: 40px;
}

.slick-dots li.slick-active button {
    background: url('../other/dot_active1.png') 0 0/100%;
    width: 50px;
    height: 50px;
}



/* Slides */
.slider__item img {
    max-height: 400px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    .slider__item img {
        max-height: 200px;
        max-width: 200px;
    }

    .slick-dots li button {
        width: 20px;
        height: 20px;
    }

    .slick-dots li.used button {
        width: 20px;
        height: 20px;
    }

    .slick-dots li.slick-active button {
        width: 30px;
        height: 30px;
    }

    .slick-arrow {
        width: 40px;
        height: 40px;
    }

    .slick-slider {
        padding: 0 20px 40px;
    }
}